[Unit]
Description=Node Exporter
After=network.target

[Service]
User=server-maintainer
Group=server-maintainer
Type=simple
ExecStart=/usr/local/bin/node-exporter

[Install]
WantedBy=multi-user.target
