[Unit]
Description=NVIDIA GPU Exporter
After=network.target

[Service]
User=server-maintainer
Group=server-maintainer
Type=simple
ExecStart=/usr/local/bin/nvidia-gpu-exporter

[Install]
WantedBy=multi-user.target
